<h1>URL Shortener</h1>
<p></p>
<p>Add a new URL:<p>
<form action="/urls" method="post">
  <input type="text" name="url" value="">
  <input type="submit" value="Add">
</form>

<p></p>

<p>Here are your shortened URLs:<p>
<table>
<% @url.each do |url| %>
  <tr>
    <th>original url</th>
    <th>shortened url</th>
    <th>click count</th>
    <th>user</th>
  </tr>
    <td><%=url.url%></td>

    <td>
      <a href="<%="http://#{request.host_with_port}/#{url.short_url}"%>"><%="#{request.host_with_port}/#{url.short_url}"%></a>
      </td>
    <td><%=url.click_count%></td>
    <td><%=url.user_id%></td>
  </tr>
<% end %>
</table>
